#a {
    grid-area: a;
}

#a2 {
    grid-area: a;
}

#b {
    grid-area: b;
    padding: 0 5%
}

#b2 {
    grid-area: b;
    padding: 0 5%
}

#c {
    grid-area: c;
    border-left: 1px solid white;
    padding: 0 5%
}

#d {
    grid-area: d;
}



#grid {
    display: grid;
    grid-template-areas:
        "a a a a"
        "b b c d";
    grid-row-gap: 1em;
}

@media (max-width: 780px) {
    #grid {
        grid-template-areas:
            "a a a"
            "b b c"
            "d d d";
    }
}

@media (max-width: 600px) {
    #grid {
        grid-template-areas:
            "a"
            "b"
            "c"
            "d";
    }

    #c {
        border: none;
    }
}