/*todo ============= HOME/BLOG CSS  ====== */

.main {
    border-bottom: 1px solid lightgrey;
}

.blog section {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

}

.grid {
    display: grid;
    grid-template-columns:
        [xl-start] 1fr 1.5rem [md-start] minmax(0, 624px) [md-end] 1.5rem 1fr [xl-end];
}

.grid * {
    grid-column: md;
}

.grid-xl {
    grid-column: xl;
}

.is-paddingless-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoticon {
    white-space: pre;
}

@media (max-width: 672px) {
    :root {
        font-size: 75%;
    }
}