#a {
    grid-area: a;
}

#a2 {
    grid-area: a;
}

#b {
    grid-area: b;
}

#b2 {
    grid-area: b;
}

#c {
    grid-area: c;
}




#grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "a"
        "b"
        "c";
    grid-row-gap: 1em;
}

@media (max-width: 780px) {}

@media (max-width: 600px) {}