/*todo ====================== PRODUCT SPLASH PAGES =================== */
/* Style the active class (and buttons on mouse-over) */

.active,
a:hover {
    color: white;
    background: transparent;
}

.center,
.center-column,
.top,
.right,
.bottom,
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    align-items: flex-start;
}

.right {
    justify-content: flex-end;
}

.bottom {
    align-items: flex-end;
}

.left {
    justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
    line-height: 1;
}